<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>网站设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/lib/admin.css}" media="all">
    <style>
        .config-input {
            width: auto;
            height: 30px;
            margin-right: 10px;
            display: inline;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">全部配置</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div style="margin-bottom: 10px;">
                        <input id="config-name" type="text" class="layui-input config-input" placeholder="请输入关键字" />
                        <button class="layui-btn layui-btn-normal layui-btn-sm" id="query">查询</button>
                        <button class="layui-btn layui-btn-danger layui-btn-sm" id="del">批量删除</button>
                        <button class="layui-btn layui-btn-primary layui-btn-sm" id="add">添加</button>
                    </div>
                    <table id="config" lay-filter="config"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/static/layui/layui.js}"></script>
<script th:inline="javascript">
var ctx = /*[[@{/}]]*/ "";
layui.use(['table', "element", "jquery"], function(){
    var $ = layui.jquery;
    //var element = layui.element;
    var table = layui.table;
    var cols = [
        {type:'checkbox'},
        {"field": "name", "title": "配置", "width": 200},
        {"field": "value", "title": "配置信息", "width": 200},
        {"field": "description", "title": "描述"},
        {"field": "update", "title": "操作", toolbar: '#toolbar'}
    ];
    var options = {
        elem: '#config',
        url: ctx + "configs",
        where: {
            name: $("#config-name").val()
        },
        response: {
            statusName: 'code', // 数据状态的字段名称，默认：code
            msgName: 'message', // 状态信息的字段名称，默认：msg
            countName: 'count', // 数据总数的字段名称，默认：count
            dataName: 'data' // 数据列表的字段名称，默认：data
        },
        cols: [cols],
        page: true
    };

    var tableIns = table.render(options);

    table.on('tool(config)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var data = obj.data; //获得当前行数据
        //var tr = obj.tr; //获得当前行 tr 的DOM对象

        if(layEvent === 'del'){ //删除
            layer.confirm('你确定要删除配置[' + data.name + ']么', function(index){
                request("config/" + data.id, "DELETE", {}, "删除");
                layer.close(index);
            });
        } else if(layEvent === 'edit'){ //编辑
            var options = {
                title: "更新配置",
                btn: "更新",
                url: "config",
                method: "POST",
                _method: "PUT",
                msg: "更新",
                id: data.id,
                name: data.name,
                value: data.value,
                description: data.description
            };
            layerAlert(options);
        }
    });

    $("#query").click(function () {
        refresh();
    });

    $("#add").click(function () {
        var options = {
            title: "添加配置",
            btn: "保存",
            url: "config",
            method: "POST",
            _method: "",
            msg: "添加",
            name: "",
            value: "",
            description: ""
        };
        layerAlert(options);
    });

    $("#del").on("click", function () {
        var checkStatus = table.checkStatus('config'); //test即为基础参数id对应的值
        if (checkStatus.data.length === 0) {
            layer.msg("未选中数据行");
        } else {
            var ids = [];
            $.each(checkStatus.data, function (i, config) {
                ids.push(config.id);
            });
            layer.confirm('真的删除行么', function(index){
                var params = {_method: "DELETE", ids:ids};
                request("configs", "POST", params, "删除");
                layer.close(index);
            });
        }
        // console.log(checkStatus.isAll ) //表格是否全选
    });

    // 重新加载数据
    function refresh() {
        options.where.name = $("#config-name").val();
        tableIns.reload(options);
    }

    // 添加更新配置弹窗
    function layerAlert(options) {
        var content = '<form style="margin-top: 20px;" class="layui-form">\n' +
            '    <div class="layui-form-item">\n' +
            '        <label class="layui-form-label">配置名称</label>\n' +
            '        <div class="layui-input-inline">\n' +
            '            <input type="text" id="config-name-add" value="' + options.name + '" class="layui-input">\n' +
            '        </div>\n' +
            '    </div>\n' +
            '    <div class="layui-form-item">\n' +
            '        <label class="layui-form-label">配置值</label>\n' +
            '        <div class="layui-input-inline">\n' +
            '            <input type="text" id="config-value" value="' + options.value + '" class="layui-input">\n' +
            '        </div>\n' +
            '    </div>\n' +
            '    <div class="layui-form-item">\n' +
            '        <label class="layui-form-label">描述</label>\n' +
            '        <div class="layui-input-inline">\n' +
            '            <input type="text" id="config-description" value="' + options.description + '" class="layui-input">\n' +
            '        </div>\n' +
            '    </div>\n' +
            '</form>';
        layer.open({
            type: 1, //此处以iframe举例
            title: options.title,
            area: ['380px', '280px'],
            content: content,
            btn: [options.btn, '关闭'],
            yes: function(index){
                var params = {
                    _method: options._method,
                    id: options.id,
                    name: $("#config-name-add").val(),
                    value: $("#config-value").val(),
                    description: $("#config-description").val()
                };
                request(options.url, options.method, params, options.msg);
                layer.close(index);
            },
            cancel: function(){}
        });
    }

    // 向后台发送请求，增删改查
    function request(url, method, params, msg) {
        //loading层
        layer.msg('配置' + msg + '中', {
            icon: 16
            ,shade: 0.01
        });
        $.ajax({
            url:ctx + url,
            type:method,
            dataType:'json',
            data: params,
            success:function(data){
                if (data) {
                    refresh();
                    layer.msg(msg + "成功！");
                } else {
                    layer.msg(msg + "失败！")
                }
                layer.closeAll('loading');
            },
            error() {
                layer.msg(msg + "失败！");
                layer.closeAll('loading');
            }
        });
    }
});
</script>
<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
</script>
</body>
</html>


