<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>权限管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/lib/admin.css}" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">全部权限</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div style="margin-bottom: 10px;">
                        <input id="permission-url" type="text" class="layui-input search-input" placeholder="请输入URL资源" />
                        <button class="layui-btn layui-btn-normal layui-btn-sm" id="query">查询</button>
                        <button class="layui-btn layui-btn-danger layui-btn-sm" id="del">批量删除</button>
                        <button class="layui-btn layui-btn-primary layui-btn-sm" id="add">添加</button>
                    </div>
                    <table id="permission" lay-filter="permission"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/static/layui/layui.js}"></script>
<script th:inline="javascript">
var ctx = /*[[@{/}]]*/ "";
layui.use(['table', "element", "jquery"], function(){
    var $ = layui.jquery;
    var table = layui.table;
    var cols = [
        {type:'checkbox'},
        {"field": "permissionId", "title": "ID", "align": "center", "width": 60},
        {"field": "url", "title": "URL资源", "width": 150},
        {"field": "permission", "title": "权限", "width": 200},
        {"field": "description", "title": "描述"},
        {"field": "sort", "title": "排序", "align": "center", "width": 60},
        {"field": "update", "title": "操作", toolbar: '#toolbar'}
    ];

    var options = {
        elem: '#permission',
        url: ctx + "permissions",
        where: {
            url: $("#permission-url").val()
        }, //设定异步数据接口的额外参数
        cols: [cols],
        page: true
    };

    var tableIns = table.render(options);

    table.on('tool(permission)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        //var tr = obj.tr; //获得当前行 tr 的DOM对象

        if(layEvent === 'detail'){ //查看
            //do somehing
        } else if(layEvent === 'del'){ //删除
            layer.confirm('你确定删除资源[' + data.url + ']么', function(index){
                request("permission/" + data.permissionId, "DELETE", {}, "删除");
                layer.close(index);
            });
        } else if(layEvent === 'authority'){ //赋权
            layer.open({
                title: true,
                closeBtn: 0,
                content: "<a>sdf</a>"
            });
        }
    });

    $("#query").click(function () {
        refresh();
    });

    $("#add").click(function () {
        var params = {
            url: "",
            permission: "",
            description: ""
        };
        request("permission", "POST", params, "添加")
    });

    $("#del").on("click", function () {
        var checkStatus = table.checkStatus('permission'); //test即为基础参数id对应的值
        if (checkStatus.data.length === 0) {
            layer.msg("未选中数据行");
        } else {
            var permissionIds = [];
            $.each(checkStatus.data, function (i, permission) {
                permissionIds.push(permission.permissionId);
            });
            layer.confirm('真的删除行么', function(index){
                var params = {_method: "DELETE", permissionIds:permissionIds};
                request("permissions", "POST", params, "删除");
                layer.close(index);
            });
        }
        // console.log(checkStatus.isAll ) //表格是否全选
    });

    // 重新加载数据
    function refresh() {
        options.where.url = $("#permission-url").val();
        tableIns.reload(options);
    }

    // 向后台发送请求，增删改查
    function request(url, method, params, msg) {
        //loading层
        layer.msg('资源' + msg + '中', {
            icon: 16
            ,shade: 0.01
        });
        $.ajax({
            url:ctx + url,
            type:method,
            dataType:'json',
            data: params,
            success:function(data){
                if (data) {
                    refresh();
                    layer.msg(msg + "成功！");
                } else {
                    layer.msg(msg + "失败！")
                }
                layer.closeAll('loading');
            },
            error() {
                layer.msg(msg + "失败！");
                layer.closeAll('loading');
            }
        });
    }
});
</script>
<script type="text/html" id="toolbar">
    {{#  if(d.permissionId > 3){ }}
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{#  } else { }}
        <a class="layui-btn layui-btn-disabled layui-btn-xs">删除</a>
    {{#  } }}
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="authority">赋权</a>
</script>
</body>
</html>


