<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: head"></head>
<head>
    <title>角色管理</title>
    <link rel="stylesheet" th:href="@{/lib/extend/ztree/css/zTreeStyle/zTreeStyle.css}" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">全部角色</li>
                <li>通知<span class="layui-badge">6</span></li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div style="margin-bottom: 10px;">
                        <input id="name" type="text" class="layui-input search-input" placeholder="请输入关键字" />
                        <button class="layui-btn layui-btn-normal layui-btn-sm" id="query">查询</button>
                        <button class="layui-btn layui-btn-danger layui-btn-sm" id="del">批量删除</button>
                        <button class="layui-btn layui-btn-primary layui-btn-sm" id="add">添加</button>
                    </div>
                    <table id="role" lay-size="sm" lay-filter="role"></table>
                </div>
                <div class="layui-tab-item">
                    <div class="LAY-app-message-btns" style="margin-bottom: 10px;">
                        <button class="layui-btn layui-btn-primary layui-btn-sm" data-type="notice" data-events="del">删除</button>
                        <button class="layui-btn layui-btn-primary layui-btn-sm" data-type="notice" data-events="ready">标记已读</button>
                        <button class="layui-btn layui-btn-primary layui-btn-sm" data-type="notice" data-events="readyAll">全部已读</button>
                    </div>
                    <table id="LAY-app-message-notice" lay-filter="LAY-app-message-notice"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var ctx = /*[[@{/}]]*/ "";
    layui.use(['table', "element", "jquery"], function(){
        var $ = layui.jquery;
        var table = layui.table;

        var cols = [
            {type:'checkbox'},
            {"field": "role", "title": "角色", "width": 100},
            /*{"field": "password", "title": "密码"},*/
            {"field": "name", "title": "角色名称"},
            {"field": "description", "title": "描述"},
            {"field": "disabled", "title": "是否禁用"},
            {"field": "createDatetime", "title": "创建时间"},
            {"field": "update", "title": "操作", "toolbar": '#toolbar'}
        ];

        var options = {
            elem: '#role',
            url: ctx + 'role/list',
            where: { // 设定异步数据接口的额外参数
                name: $("#name").val()
            },
            page: {
                curr: 1,
                theme: '#1E9FFF'
            },
            cols: [cols]
        };

        var tableIns = table.render(options);

        table.on('tool(role)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            // var tr = obj.tr; //获得当前行 tr 的DOM对象

            if(layEvent === 'lock'){ //锁定
                layer.confirm('你确定要禁用角色[' + data.role + ']么', function(index){
                    var params = {
                        roleId: data.roleId,
                        disabled: true
                    };
                    request("role/update", "POST", params, "禁用");
                });
            } else if(layEvent === 'unlock'){ //锁定
                layer.confirm('你确定要启用角色[' + data.role + ']么', function(){
                    var params = {
                        roleId: data.roleId,
                        disabled: false
                    };
                    request("role/update", "POST", params, "启用");
                });
            } else if(layEvent === 'del'){ //锁定
                layer.confirm('你确定要删除角色[' + data.role + ']么', function(){
                    var params = {
                        roleId: data.roleId
                    };
                    request("role/delete", "POST", params, "删除");
                });
            }
        });

        $("#query").click(function () {
            refresh();
        });

        // 重新加载数据
        function refresh() {
            options.where.name = $("#name").val();
            tableIns.reload(options);
        }

        $("#add").click(function () {
            var params = {
                role: "test" + new Date().getSeconds(),
                name: "123",
                description: "测试角色"
            };
            request("role/save", "POST", params, "添加")
        });

        $("#del").on("click", function () {
            var checkStatus = table.checkStatus('role'); //test即为基础参数id对应的值
            if (checkStatus.data.length === 0) {
                layer.msg("未选中数据行");
            } else {
                var roleIds = [];
                $.each(checkStatus.data, function (i, role) {
                    roleIds.push(role.roleId);
                });
                layer.confirm('真的删除行么', function(index){
                    var params = {roleIds:roleIds};
                    request("role/batchDelete", "POST", params, "删除");
                    layer.close(index);
                });
            }
            // console.log(checkStatus.isAll ) //表格是否全选
        });

        // 向后台发送请求，增删改查
        function request(url, method, params, msg) {
            //loading层
            layer.msg('用户' + msg + '中', {
                icon: 16
                ,shade: 0.01
            });
            $.ajax({
                url:ctx + url,
                type:method,
                dataType:'json',
                data: params,
                success:function(data){
                    if (data.code === 0) {
                        if (data) {
                            refresh();
                            layer.msg(msg + "成功！");
                        } else {
                            layer.msg(msg + "失败！")
                        }
                    } else if (data.code === 1001) {
                        layer.msg(data.msg);
                    } else if (data.code === 1003) {
                        layer.msg(data.msg + "," + msg + "失败！");
                    }
                    layer.closeAll('loading');
                },
                error() {
                    layer.msg(msg + "失败！");
                    layer.closeAll('loading');
                }
            });
        }

    });
</script>
<script th:src="@{/lib/jquery-1.4.4.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/extend/ztree/js/jquery.ztree.core.js}"></script>
<script type="text/javascript" th:src="@{/lib/extend/ztree/js/jquery.ztree.excheck.js}"></script>
<script>

    function loadPermissionTree(zNodes) {
        var setting = {
            check: {
                enable: true,
                chkboxType: { "Y": "ps", "N": "ps" }
            },
            view: {
                showIcon: false
            },
            key: {
                url: "_url"
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "permissionId",
                    pIdKey: "parentId"
                }
            },
            callback: {
                onCheck: onCheck
            }
        };

        $.fn.zTree.init($("#permission-tree"), setting, zNodes);
    }

    function onCheck(event, treeId, treeNode) {
        var ztree = $.fn.zTree.getZTreeObj(treeId);
        var checkedNodes = ztree.getCheckedNodes(true);
    }
</script>
<script type="text/html" id="toolbar">
    {{#  if(d.disabled == true){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="unlock">启用</a>
    {{#  } else { }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="lock">禁用</a>
    {{#  } }}
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="authority">赋权</a>
</script>
</body>
</html>


