<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renguangli.rportal.mapper.ConfigMapper">

    <!-- 开启mybatis二级缓存 -->

    <sql id="table_name">rportal_config</sql>

    <select id="getConfig" resultType="Config">
        select name,value from <include refid="table_name"/>
        where 1 = 1
        <if test="pojo.name != null and pojo.name != ''">
            and name = #{pojo.name}
        </if>
    </select>

    <select id="list" resultType="Config">
        select name,value from <include refid="table_name"/>
    </select>

    <select id="listConfig" resultType="Config">
        select id,name,value,description
        from <include refid="table_name"/>
        where 1=1
        <if test="pojo.name != null and pojo.name != ''">
            and name like concat(#{pojo.name},'%')
        </if>
        limit #{page},#{limit}
    </select>

    <select id="countConfig" resultType="int">
        select count(*)
        from <include refid="table_name"/>
        where 1=1
        <if test="pojo.name != null and pojo.name != ''">
            and name like concat(#{pojo.name},'%')
        </if>
    </select>

    <delete id="delete">
        delete from <include refid="table_name"/>
        where id = #{id}
    </delete>

    <delete id="batchDelete">
        delete from <include refid="table_name"/>
        where id in
        <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="save">
        insert into <include refid="table_name" />
        (name,value,description,update_datetime)
        values (#{pojo.name},#{pojo.value},#{pojo.description},#{pojo.updateDatetime})
    </insert>

    <update id="update">
        update <include refid="table_name"/>
        set name = #{pojo.name},
        value = #{pojo.value},
        description = #{pojo.description}
        where id = #{pojo.id}
    </update>

</mapper>