<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renguangli.rportal.mapper.ConfigMapper">

    <sql id="table_name">rportal_config</sql>

    <select id="listConfig" resultType="Config">
        select name,value
        from <include refid="table_name"/>
        where name in
        <foreach collection="names" item="name" index="index" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>

    <update id="update">
        update <include refid="table_name"/>
        set value = #{config.value}
        where name = #{config.name}
    </update>
</mapper>