<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renguangli.rportal.mapper.PermissionMapper">

    <sql id="table_name">rportal_permission</sql>

    <select id="list" resultType="Permission">
        select url,group_concat(permission) permission,fixed
        from <include refid="table_name" />
        group by url
        order by sort
    </select>

    <select id="listPermission" resultType="Permission">
        select permission_id permissionId,parent_id parentId,
        url,permission,name,parent_name parentName,description,sort
        from <include refid="table_name" />
        where 1=1
        <if test="pojo.name != null and pojo.name != ''">
          and url like concat(#{pojo.name},'%')
        </if>
        order by sort
        limit #{page}, #{limit}
    </select>

    <select id="countPermission" resultType="int">
        select count(*)
        from <include refid="table_name" />
        where 1=1
        <if test="pojo.name != null and pojo.name != ''">
          and url = #{pojo.name}
        </if>
    </select>

    <insert id="save">
        insert into <include refid="table_name" />
          (parent_id,url,name,parent_name,description,sort)
        values
          (#{pojo.parentId},#{pojo.url},,#{pojo.name},#{pojo.parentName},#{pojo.description},#{pojo.sort})
    </insert>

    <delete id="delete">
        delete from <include refid="table_name" />
        where permission_id = #{id}
    </delete>

    <delete id="batchDelete">
        delete from <include refid="table_name" />
        where permission_id in
        <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>