<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renguangli.rportal.mapper.PermissionMapper">

    <sql id="table_name">rportal_permission</sql>

    <select id="list" resultType="Permission">
        select url,permission
        from <include refid="table_name" />
        order by sort
    </select>

    <select id="listPermission" resultType="Permission">
        select permission_id permissionId,url,permission,description,sort
        from <include refid="table_name" />
        where 1=1
        <if test="pojo.url != null and pojo.url != ''">
          and url like concat(#{pojo.url},'%')
        </if>
        order by sort
        limit #{page}, #{limit}
    </select>

    <select id="countPermission" resultType="int">
        select count(*)
        from <include refid="table_name" />
        where 1=1
        <if test="pojo.url != null and pojo.url != ''">
          and url = #{pojo.url}
        </if>
    </select>

    <insert id="save">
        insert into <include refid="table_name" />
          (url,permission)
        values
          (#{pojo.url},#{pojo.permission})
    </insert>

    <delete id="delete">
        delete from <include refid="table_name" />
        where permission_id = #{id}
    </delete>

    <delete id="batchDelete">
        delete from <include refid="table_name" />
        where permission_id in
        <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>