<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renguangli.rportal.mapper.RolePermissionMapper">

    <select id="listByRoleId" resultType="RolePermission">
        select id,role_id roleId,permission_id permissionId
        from rportal_role_permission
        where role_id = #{roleId}
    </select>
    
    <insert id="batchSave">
        insert into rportal_role_permission
          (role_id, permission_id)
        values
        <foreach collection="pojos" item="pojo" separator=",">
            (#{pojo.roleId},#{pojo.permissionId})
        </foreach>
    </insert>

    <delete id="deleteByRoleId">
        delete from rportal_role_permission
        where role_id = #{roleId}
    </delete>

    <delete id="batchDeleteByRoleIds">
        delete from rportal_role_permission
        where role_id in
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>
</mapper>