<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renguangli.rportal.mapper.RoleMapper">

    <select id="listRole" resultType="Role">
        select role_id roleId,role,name,description,disabled
        from rportal_role;
    </select>
    
    <insert id="save">
        insert into rportal_role
          (role,name.desecrption,disabled)
        values
          (#{pojo.role},#{pojo.name},#{pojo.description},#{pojo.disabled})
    </insert>
    
    <delete id="delete">
        delete from rportal_role
        where role_id = #{id}
    </delete>

    <delete id="batchDelete">
        delete from rportal_role
        where role_id in 
        <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update">
        
    </update>
</mapper>