<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renguangli.rportal.mapper.UserMapper">

    <!-- 开启mybatis二级缓存 -->
    <cache></cache>

    <sql id="table_name">rportal_user</sql>

    <select id="login" resultType="String">
        select password
        from <include refid="table_name" />
        where username = #{username}
    </select>

    <select id="listRoles" resultType="String">
        select r.role_code
        from <include refid="table_name" /> u
          left join rportal_user_role ur on u.user_id = ur.role_id
          left join rportal_role r on ur.role_id = r.role_id
        where u.username = #{username}
    </select>

</mapper>