<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renguangli.rportal.mapper.UserMapper">

    <sql id="table_name">rportal_user</sql>
    
    <sql id="cols">
      user_id userId,username,password,salt,locked,expired,
      name,sex,phone_number phoneNumber,email,
      create_datetime createDatetime,
      password_update_datetime passwordUpdateDatetime
    </sql>

    <select id="getUser" resultType="User">
        select <include refid="cols"/>
        from <include refid="table_name" />
        where 1=1
        <if test="pojo.username != null and pojo.username != ''">
            and username = #{pojo.username}
        </if>
    </select>

    <select id="listUser" resultType="User">
        select <include refid="cols"/>
        from <include refid="table_name" />
        where 1=1
        <if test="pojo.username != null and pojo.username != ''">
            and username like concat(#{pojo.username}, '%')
        </if>
        limit #{page},#{limit}
    </select>

    <select id="countUser" resultType="int">
        select count(*)
        from <include refid="table_name" />
        where 1=1
        <if test="pojo.username != null and pojo.username != ''">
            and username like concat(#{pojo.username}, '%')
        </if>
    </select>

    <delete id="save">
        insert into <include refid="table_name"/>
          (
            username,password,salt,locked,expired, name,sex,phone_number,email,
            create_datetime,password_update_datetime
          )
        values
          (
            #{pojo.username}, #{pojo.password},#{pojo.salt},#{pojo.salt},#{pojo.expired},
            #{pojo.name},#{pojo.sex},#{pojo.phoneNumber},#{pojo.email},
            #{pojo.createDatetime},#{pojo.passwordUpdateDatetime}
          )
    </delete>

    <delete id="delete">
        delete from <include refid="table_name" />
        where user_id = #{id}
    </delete>

    <delete id="batchDelete">
        delete from <include refid="table_name" />
        where user_id in
        <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update">
        update <include refid="table_name"/>
        <set>
            <if test="pojo.username != null and pojo.username">
                username = #{pojo.username},
            </if>
            <if test="pojo.password != null and pojo.password">
                password = #{pojo.password},
            </if>
            <if test="pojo.locked != null">
                locked = #{pojo.locked},
            </if>
            <if test="pojo.name != null and pojo.name">
                name = #{pojo.name},
            </if>
            <if test="pojo.phoneNumber != null and pojo.phoneNumber">
                phone_number = #{pojo.phoneNumber},
            </if>
            <if test="pojo.email != null and pojo.email">
                email = #{pojo.email},
            </if>
        </set>
        where user_id = #{pojo.userId}
    </update>

    <select id="listRole" resultType="String">
        select r.role
        from <include refid="table_name" /> u
          left join rportal_user_role ur on ur.user_id = u.user_id
          left join rportal_role r on r.role_id = ur.role_id
        where  r.disabled = 0
        and u.username = #{username}
    </select>

    <select id="listPermissionByUsername" resultType="String">
        select p.permission
        from rportal_permission p,rportal_user_permission up,rportal_user u
        where p.permission_id = up.permission_id
        and up.user_id = u.user_id
        and u.username = #{username}
    </select>

    <select id="listPermissionByRoles" resultType="String">
        select p.permission
        from rportal_permission p,rportal_role_permission rp,rportal_role r
        where p.permission_id = rp.permission_id
        and rp.role_id = r.role_id
        and r.role in
        <foreach collection="roles" item="role" index="index" open="(" separator="," close=")">
            #{role}
        </foreach>
    </select>

</mapper>